.container {
    width: 100%;
    overflow: hidden;
    background: black;
    font-family: Georgia, "Times New Roman", Times, serif;
}

header {
    position: relative;
    width: 100%;

    >span {
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 3px;
        background: url('../image/horizontal-sprite.png') repeat-x 0px -33px;
    }

    >div {
        position: relative;
        width: 980px;
        height: 100px;
        padding: 5px 0 20px;
        margin: 0 auto;

        img {
            width: 205px;
        }

        .login-language {
            position: absolute;
            top: 24px;
            right: 0;
            width: 145px;
            height: 24px;
            padding-top: 1px;
            border: 1px dotted #3B3A3A;
            background: #1C1C1C;
            font-size: 11px;
            text-align: left;
            line-height: 22px;

            i {
                display: block;
                float: left;
                width: 35px;
                height: 22px;
                margin: 0 8px 0;
                background: url('../image/spritesheet.png') 0 -33px;
            }
            span {
                display: block;
                float: left;
                line-height: 22px;
                text-align: center;
                color: #aaa;
            }
            >a {
                position: absolute;
                top: 0px;
                right: 0px;
                width: 26px;
                height: 26px;
                background: transparent url('../image/down.png') no-repeat center center;
            }
            ul {
                display: none;
                position: absolute;
                top: 26px;
                left: -1px;
                width: 145px;

                li {
                    width: 145px;
                    height: 34px;
                    border: 1px dotted #3B3A3A;
                    border-top: none;
                    background: #1C1C1C;


                    a {
                        clear: both;
                        width: 121px;
                        height: 17px;
                        padding: 8px 12px;
                        color: #aaa;
                    }
                    &:hover {
                        background: rgba(255, 255, 255, 0.15);
                        a {
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }
}

section {
    height: 580px;
    padding: 65px 0 0;
    background: url('../image/visu-login-page-sihh.jpg') top center;

    >div {
        width: 980px;
        margin: 0 auto;

        .wel {
            width: 420px;
            height: 401px;
            padding: 40px 0;
            margin: 0 0 0 560px;

            header {
                height: 71px;

                h1 {
                    height: 28px;
                    padding-bottom: 5px;
                    text-align: left;
                    font-style: italic;
                    font-size: 32px;
                    color: #FFF;
                    letter-spacing: -1;
                }
                h2 {
                    position: relative;
                    height: 13px;
                    padding-bottom: 26px;
                    font-family: 'HelveticaNeueLTStd-MdCn';
                    font-size: 15px;
                    font-weight: normal;
                    letter-spacing: 2px;
                    color: #c6beb7;

                    &::after {
                        position: absolute;
                        bottom: 5px;
                        content: '';
                        display: block;
                        width: 34px;
                        height: 2px;
                        background: #cac0b6;
                    }
                }
            }

            >h2 {
                height: 19px;
                margin: 19px auto 19px;
                color: #c6beb7;
                font-size: 16px;
                font-style: italic;
                font-weight: normal;
            }

            .content {
                position: relative;
                height: 216px;
                margin-top: 50px;
                padding-top: 25px;
                color: #a6a6a6;

                &::before {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: 0;
                    width: 34px;
                    height: 2px;
                    background: #c6beb7;
                }

                .login {
                    width: 190px;
                    height: 216px;
                    padding-right: 35px;
                    float: left;
                    color: #c6beb7;

                    h2 {
                        height: 13px;
                        margin-bottom: 15px;
                        font-size: 15px;
                        letter-spacing: 1px;
                        font-family: 'HelveticaNeueLTStd-MdCn';
                    }

                    form {
                        >input {
                            background: #141311;
                            font-weight: bold;
                            width: 164px;
                            height: 19px;
                            padding: 6px 12px;
                            border: 1px dotted #c6beb7;
                            margin-bottom: 7px;
                            color: #c6beb7;
                        }

                        p {
                            height: 21px;
                            font-weight: bold;
                            color: #a6a6a6;
                            font-size: 11px;
                            margin-top: 8px;

                            span {
                                display: block;
                                float: left;
                                width: 11px;
                                height: 11px;
                                border: 1px dotted #554627;
                                margin-right: 4px;
                                background: url('../image/sprite1.png');

                                input {
                                    display: block;
                                    margin: 0;
                                    border: none;
                                    outline: none;
                                    opacity: 0;
                                }
                            }
                        }

                        a {
                            display: block;
                            height: 16px;
                            margin: 5px 0 10px 0;
                            color: #4e4d4b;
                            font-weight: bold;
                            font-size: 11px;
                        }

                        button {
                            width: 100px;
                            height: 33px;
                            padding: 0 15px;
                            border: 1px dotted #c6beb7;
                            background: black;
                            color: #c6beb7;
                            outline: none;
                            font-family: 'HelveticaNeueLTStd-MdCn';
                            font-size: 13px;
                            text-align: center;

                            &:hover {
                                cursor: pointer;
                                transition: all .1s ease-in-out;
                                background: #554627;
                            }
                        }
                    }
                }

                .reg {
                    width: 190px;
                    height: 89px;
                    float: left;

                    h2 {
                        height: 13px;
                        margin-bottom: 15px;
                        font-size: 15px;
                        letter-spacing: 1px;
                        font-family: 'HelveticaNeueLTStd-MdCn';
                    }

                    p {
                        color: #a6a6a6;
                        margin: 12px 0;
                        font-size: 11px;
                        font-size: 11px;
                    }

                    a {
                        display: block;
                        width: 100px;
                        height: 33px;
                        padding: 0 15px;
                        border: 1px dotted #c6beb7;
                        background: black;
                        color: #c6beb7;
                        outline: none;
                        font-family: 'HelveticaNeueLTStd-MdCn';
                        font-size: 13px;
                        line-height: 33px;
                        text-align: center;

                        &:hover {
                            transition: all .1s ease-in-out;
                            background: #554627;
                        }
                    }
                }
            }
        }
    }
}

footer {
    font-family: 'Tahoma', sans-serif;

    >div:first-child {
        background: #141414;
        color: #c6beb7;

        ul {
            width: 980px;
            height: 249px;
            padding: 45px 0;
            margin: 0 auto;

            li {
                float: left;
                width: 160px;
                margin-right: 36px;

                h2 {
                    height: 13px;
                    margin-bottom: 10px;
                    font-size: 15px;
                    letter-spacing: 1px;
                }

                i {
                    height: 3px;
                    display: block;
                    margin-bottom: 17px;
                    background: url('../image/spritesheet-horiz.png')
                }

                h5 {
                    line-height: 16px;
                    margin: 8px 0 0;
                    font-size: 13px;
                }

                >span {
                    display: inline-block;
                    margin: 12px 0 0;
                    font-size: 11px;
                    line-height: 16px;
                    color: #a6a6a6;
                }

                div {
                    height: 30px;
                    margin-bottom: 5px;

                    a {
                        line-height: 26px;
                        font-size: 11px;
                        color: #a6a6a6;
                    }

                    span {
                        display: block;
                        float: left;
                        width: 30px;
                        height: 30px;
                        margin-right: 5px;
                        background: url('../image/spritesheet.png');
                        background-color: #282828;
                    }

                    &:first-of-type {
                        span {
                            background-position: -1px -82px;

                            &:hover {
                                background-position: -1px -113px;
                                background-color: #3b559f;
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        span {
                            background-position: -33px -82px;

                            &:hover {
                                background-position: -33px -113px;
                                background-color: #00aced;
                            }
                        }
                    }

                    &:nth-of-type(3) {
                        span {
                            background-position: -65px -82px;

                            &:hover {
                                background-position: -65px -113px;
                                background-color: #FFF;
                            }
                        }
                    }

                    &:last-of-type {
                        span {
                            background-position: -64px -141px;

                            &:hover {
                                background-position: -64px -168px;
                                background-color: #2c5c81;
                            }
                        }
                    }
                }
            }
        }
    }

    >div:last-child {
        color: #FFF;
        div {
            width: 980px;
            height: 36px;
            margin: 0 auto;

            p {
                height: 16px;
                padding: 10px 0;
                text-align: left;
                font-size: 11px;
                color: #a6a6a6;

                a {
                    color: #a6a6a6;
                    text-decoration: underline;
                }
            }
        }
    }
}