.container {
  width: 100%;
  overflow: hidden;
}

header {
  position: relative;
  width: 100%;
  height: 98px;
  background: #000;
}

header > span {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 3px;
  background: url("../image/horizontal-sprite.png") repeat-x 0px -33px;
}

header .banner {
  position: relative;
  width: 994px;
  height: 98px;
  margin: 0px auto;
}

header .banner .logo {
  position: absolute;
  left: 0px;
  bottom: 4px;
  width: 184px;
  height: 56px;
  border: solid 13px #000;
  border-width: 13px 25px;
}

header .banner .logo img {
  width: 184px;
  height: 56px;
}

header .banner nav {
  position: absolute;
  left: 235px;
  bottom: 0px;
  width: 420px;
  height: 50px;
}

header .banner nav ul {
  width: 100%;
  height: 100%;
}

header .banner nav ul li {
  position: relative;
  float: left;
  height: 50px;
}

header .banner nav ul li a {
  font-size: 15px;
  color: #BEBEBE;
  line-height: 33px;
  text-align: center;
  letter-spacing: 1px;
  padding: 0 12px 0 12px;
}

header .banner nav ul li a span {
  padding-right: 10px;
  background: transparent url("../image/down.png") no-repeat right center;
}

header .banner nav ul li > span {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 4px;
}

header .banner nav ul li:hover a {
  transition: all ease 1s;
  color: #C3A07D;
}

header .banner nav ul li:hover > span {
  transition: background ease 0.5s;
  background: url("../image/horizontal-sprite.png") 0px -33px;
}

header .banner nav ul li .shu {
  position: absolute;
  top: 0px;
  right: 0px;
}

header .banner nav ul li:last-child a > span {
  padding: 0px 3px;
  padding-left: 27px;
  background: transparent url("../image/key.png") no-repeat left center;
}

header .banner nav .dian {
  position: absolute;
  width: 1px;
  height: 32px;
  background: url("../image/shu.png") repeat-y -4px 0px;
}

header .custom {
  position: absolute;
  top: 12px;
  right: 12px;
  height: 26px;
}

header .custom > div {
  float: left;
  height: 26px;
  border: 1px dotted #555;
  background: #1C1C1C;
}

header .custom .search {
  position: relative;
  width: 200px;
}

header .custom .search input {
  position: absolute;
  top: 1px;
  left: 4px;
  width: 170px;
  height: 24px;
  line-height: 17px;
  outline: none;
  border: none;
  background: transparent;
  color: #aaa;
}

header .custom .search button {
  position: absolute;
  top: 1px;
  left: 175px;
  outline: none;
  border: none;
  width: 22px;
  height: 24px;
  background: url("../image/sprite.png") no-repeat -238px 0;
}

header .custom .language {
  overflow: hidden;
  width: 145px;
  margin-left: 10px;
}

header .custom .language > div {
  height: 100%;
  line-height: 26px;
  padding-left: 45px;
  color: #aaa;
  font-size: 11px;
  background: url("../image/sprite.png") no-repeat -262px 2px;
}

header .custom .language a {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 26px;
  height: 26px;
  background: transparent url("../image/down.png") no-repeat center center;
}

header .list > div {
  z-index: 100;
  position: absolute;
  left: 0px;
  top: 98px;
  width: 100%;
  padding-bottom: 15px;
  background: #F5F5F5;
}

header .list0 {
  display: none;
}

header .list0 > div {
  width: 994px;
  height: 530px;
  padding: 55px 0 30px 0;
  margin: auto;
}

header .list0 > div nav {
  float: left;
  width: 645px;
  height: 530px;
}

header .list0 > div nav > a {
  float: left;
  width: 120px;
  height: 256px;
  margin: 0 8px 5px 0;
}

header .list0 > div nav > a img {
  width: 110px;
  height: 186px;
  margin: 0 5px;
}

header .list0 > div nav > a i {
  display: block;
  width: 83px;
  height: 11px;
  background: url("../image/horizontal-sprite-lifting.png") center 2px;
  margin: 7px auto 10px;
}

header .list0 > div nav > a p {
  width: 98px;
  padding: 0px 11px;
  font-family: 'helveticaneue_condensedbold', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
  font-size: 12px;
  color: black;
  line-height: 16px;
  text-align: center;
}

header .list0 > div nav:hover a {
  opacity: 0.8;
}

header .list0 > div nav:hover a:hover {
  opacity: 1;
}

header .list0 > div aside {
  float: left;
  margin-left: 40px;
  width: 295px;
  height: 530px;
}

header .list0 > div aside .rt {
  width: 255px;
  padding: 0 20px;
}

header .list0 > div aside .rt h2 {
  width: 253px;
  color: #999;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 1px;
  padding: 0 0 9px 0;
  margin-bottom: 10px;
}

header .list0 > div aside .rt > a {
  display: block;
  width: 265px;
  height: 91px;
  margin-bottom: 40px;
}

header .list0 > div aside .rt li {
  margin: 3px 0 6px;
  width: 265px;
  height: 18px;
  letter-spacing: 1px;
  font-size: 11px;
}

header .list0 > div aside .rt li a {
  color: #999;
}

header .list0 > div aside .rt .search {
  width: 28%;
  height: 16px;
  padding: 6px 25px;
  margin: -15px auto 0;
  border: 1px dotted #554728;
  font-size: 12px;
  color: #999;
  text-align: left;
}

header .list0 > div aside .rt .search:hover {
  transition: all ease 0.3s;
  background: #E4E3E0;
}

header .list1 {
  display: none;
}

header .list1 > div {
  width: 994px;
  height: 466px;
  padding: 30px 0 30px 0;
  margin: auto;
}

header .list1 > div .art a {
  float: left;
  width: 229px;
  height: 310px;
  display: block;
  margin: 0 8px 9px 0;
  text-align: center;
  background: #FFF;
}

header .list1 > div .art a h2 {
  color: #999;
  font-style: italic;
  line-height: 16px;
  padding: 15px 0 0 0;
  margin: 0 15px;
}

header .list1 > div .art a p {
  height: 40px;
  padding: 0 0 10px 0;
  margin: 5px 10px;
  line-height: 16px;
  color: #262522;
  font-size: 11px;
}

header .list1 > div .art a i {
  display: block;
  width: 170px;
  height: 11px;
  margin: 20px auto 10px;
  background: url("../image/horizontal-sprite.png") center -9px;
}

header .list1 > div .art a .search {
  width: 48px;
  height: 16px;
  padding: 6px 25px;
  margin: 0 auto 15px;
  border: 1px dotted #554728;
  font-size: 12px;
  color: #999;
}

header .list1 > div .art a .search:hover {
  transition: background-color 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  background: #E4E3E0;
}

header .list1 > div .art a:hover {
  background: #EDEDED;
}

header .list1 > div .res {
  clear: both;
  height: 131px;
  padding-top: 16px;
}

header .list1 > div .res > div:first-child {
  margin-left: 0;
}

header .list1 > div .res > div:last-child {
  width: 480px;
}

header .list1 > div .res > div {
  float: left;
  width: 229px;
  height: 114px;
  margin: 0 0 17px 10px;
}

header .list1 > div .res > div p {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #999;
  padding: 0 0 9px 3px;
  margin: 0 0 5px 0;
}

header .list1 > div .res > div nav a {
  display: block;
  padding: 0 0 0 3px;
  margin: 0 0 5px;
  font-size: 11px;
  color: #999;
  line-height: 16px;
}

header .list1 > div .res > div nav a:hover {
  color: #292110;
}

header .list1 > div .res > div > a {
  display: flex;
  justify-content: space-between;
}

header .list1 > div .res > div > a img {
  float: left;
  width: 134px;
  height: 83px;
}

header .list1 > div .res > div > a > div {
  float: left;
  width: 330px;
  margin-left: 16px;
  font-size: 11px;
  color: #999;
}

header .list1 > div .res > div > a > div b {
  font-weight: bold;
}

header .list1 > div .res > div > a > div span {
  display: inline-block;
  line-height: 16px;
  margin: 1px 0 0 0;
}

header .list1 > div .res > div > a > div i {
  display: block;
  width: 150px;
  height: 11px;
  background: url("../image/horizontal-sprite.png") no-repeat left 0;
  margin-top: 24px;
}

header .list1 > span {
  display: block;
  margin-bottom: -15px;
  width: 100%;
  height: 4px;
  background: #000;
  background: url("../image/horizontal-sprite.png") repeat-x 0px -33px;
}

header .list3 {
  display: none;
}

header .list3 > div {
  width: 994px;
  height: 318px;
  padding: 30px 0 30px 0;
  margin: auto;
}

header .list3 > div > div {
  float: left;
  width: 238px;
  height: 247px;
  margin: 0 0 50px 10px;
}

header .list3 > div > div img {
  width: 238px;
  height: 139px;
  margin-bottom: 15px;
}

header .list3 > div > div p {
  width: 235px;
  padding: 0 0 9px 3px;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 16px;
  color: #999;
  letter-spacing: 1px;
}

header .list3 > div > div a {
  display: inline-block;
  width: 235px;
  font-size: 11px;
  line-height: 16px;
  color: #999;
  letter-spacing: 1px;
  padding: 0 0 0 3px;
  margin: 5px 0;
}

header .list3 > div > div a:hover {
  color: #292110;
}

header .list3 > span {
  display: block;
  margin-bottom: -15px;
  width: 100%;
  height: 4px;
  background-color: black;
  background: url("../image/horizontal-sprite.png") repeat-x 0px -33px;
}

section div {
  width: 100%;
}

section div .list-big {
  background: url("../image/backimage.scale.1920.684.1496908742541.jpeg") center;
  background-size: cover;
  text-align: center;
}

section div .list-big img {
  width: 740px;
  height: 530px;
  margin: -380px auto;
}

section div .list-big div {
  width: 500px;
  height: 134px;
  padding: 60px 0 30px;
  margin: auto;
  margin-top: 240px;
  text-align: center;
  font-style: italic;
}

section div .list-big div h1 {
  font-size: 30px;
  color: #c3a07d;
  margin: 16px auto;
}

section div .list-big div p {
  width: 390px;
  color: #696969;
  font-size: 14px;
  line-height: 21px;
  padding: 1px 0 0 0;
  margin: 0 auto;
  letter-spacing: 1px;
}

section div .list-s {
  background: url("../image/backimage.scale.1280.300.1496908742552.jpeg");
  background-size: cover;
  height: 300px;
  font-style: italic;
  text-align: center;
  vertical-align: middle;
}

section div .list-s div {
  padding-top: 78px;
}

section div .list-s div h2 {
  color: #c3a07d;
  font-size: 30px;
  line-height: 33px;
  margin: 15px auto;
}

section div .list-s div p {
  margin: 15px auto;
  line-height: 20px;
  font-size: 18px;
  color: #BEBEBE;
}

section div .list-s div a {
  display: block;
  width: 24px;
  height: 16px;
  padding: 6px 25px;
  border: 1px dotted #554728;
  margin: 30px auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-style: normal;
  color: #c3a07d;
}

section div .list-s div a:hover {
  transition: background-color 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  background: #c3a07d;
  color: #000;
}

footer {
  width: 100%;
  height: 721px;
  background: #141414;
}

footer .end {
  width: 994px;
  height: 612px;
  padding: 20px 0 45px 0;
  margin: auto;
}

footer .end .header {
  width: 100%;
  height: 85px;
  line-height: 85px;
  text-align: center;
}

footer .end > div {
  float: left;
  width: 159px;
  margin-right: 36px;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
  color: #aaa;
}

footer .end > div p {
  width: 156px;
  height: 20px;
  padding: 0 0 9px 3px;
  margin: 28px 0 5px 0;
  font-size: 15px;
}

footer .end > div a {
  display: block;
  color: #aaa;
  width: 156px;
  height: 16px;
  padding: 0 0 0 3px;
  margin: 5px 0;
  font-size: 11px;
}

footer .end > div a:hover {
  color: #c3a07d;
}

footer .end > div .care > a {
  line-height: 26px;
  height: 26px;
}

footer .end > div .care > a span {
  float: left;
  display: inline-block;
  width: 30px;
  height: 26px;
  margin-right: 5px;
  background: #c1baac url("../image/sprite-social.png") no-repeat;
}

footer .end > div .care .xl {
  background: #c1baac url("../image/sprite-social.png") no-repeat -128px -54px;
}

footer .end > div .care .yk {
  background: #c1baac url("../image/sprite-social.png") no-repeat -96px -54px;
}

footer .end > div .care a:hover span {
  background-color: #FFF;
}

footer .end > div .care a:hover .xl {
  background-position: -128px -81px;
}

footer .end > div .care a:hover .yk {
  background-position: -96px -81px;
}

footer .end > div > div:first-child {
  height: 190px;
}

footer .end > div:nth-child(5) {
  width: 173px;
}

footer .end > div:nth-child(5) .img {
  height: 100px;
  margin-bottom: 10px;
}

footer .end > div:nth-child(6) {
  width: 188px;
  margin: 0;
}

footer .end > div:nth-child(6) a {
  height: 90px;
}

footer .end > div:nth-child(6) img {
  width: 172px;
  height: 90px;
}

footer .copy {
  height: 16px;
  padding: 14px 0;
  background: black;
  margin: auto;
  font-size: 11px;
}

footer .copy div {
  width: 994px;
  margin: auto;
  height: 44px;
}

footer .copy div a {
  float: left;
  color: #aaa;
  padding: 0 3px;
}
